.navbar {
  background-color: #40434E; /* Dark background */
  height: 80px; /* Adjust based on your preference */
  display: flex;
  align-items: center;
  color: #FFFFFA;
  width: 100vw
}

.logo {
  margin: 5rem;
  color: #FFFFFA;
}

.nav-links {
  list-style: none;
  padding: 0;
  display: flex;
}

.nav-links li {
  padding: 0 30px; /* Space between links */
  font-size: 1.1rem;
}

.nav-links li a {
  text-decoration: none;
  color: white; /* Light text color for contrast */
}

/* Additional styling for hover effects, active link, etc., can be added here */
@font-face {
  font-family: 'ITC';
  src: local('ITC'), url('/ITCAvantGardeStd-XLt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}